# --- 1. CONFIGURACIÓN DEL SERVIDOR ---
PORT=8080

NODE_ENV=development 
DB_ENABLE_SSL=false 


# --- 3. SEGURIDAD (JWT & Hashing) ---
JWT_KEY=TU_LLAVE_SECRETA
BCRYPT_ROUNDS=10



FRONTEND_URL=http://localhost:5173

#Yo opto por cloudinary, acá podrias cambiarlo para usar otro
CLOUDINARY_CLOUD_NAME=TU_CLOUD_NAME
CLOUDINARY_API_KEY=TU_CLOUD_API_KEY
CLOUDINARY_API_SECRET=TU_CLOUD_API_SECRET

# --- 5. TESTING  ---
DB_NAME_TEST=TU_BD_TEST

DB_URI=TU_DB_URI

DB_URI_TEST=TU_DB_URI_TEST